# Env
.env
.env.local
*.env

# Node / Next.js
node_modules/
apps/web/.next/
apps/web/out/
apps/web/.vercel/
npm-debug.log*

# Flutter
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugin-dependencies
apps/mobile/build/
apps/mobile/.pub-cache/
apps/mobile/**/ios/Pods/
apps/mobile/**/ios/.symlinks/

# Supabase
supabase/.branches/
supabase/.temp/

# OS
.DS_Store
